.year-label.svelte-1owd498{position:absolute;top:10px;right:40px;font-size:32px;font-weight:900;color:#3e2c28;background:#ffffffd9;padding:8px 16px;border-radius:10px;box-shadow:0 2px 8px #0000001a;z-index:10}
